In [52]:
#Import data for description column
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn import metrics
import pickle

import mord
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression

In [33]:
data = pd.read_pickle('/Users/Oliver/Downloads/pickled_data.p')
data.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,...,Dogs Allowed,Doorman,Elevator,Fitness Center,Laundry in Building,Common Outdoor Space,Storage Facility,photo_count,week,neighborhood
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,...,0,0,0,0,0,0,0,5,4,Williamsburg
10000,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,...,1,1,1,1,0,0,0,11,2,Upper West Side
100004,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,...,0,0,0,0,0,0,0,8,3,Greenwich Village
100007,1.0,1,28d9ad350afeaab8027513a3e52ac8d5,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,"[Hardwood Floors, No Fee]",low,40.7539,6888711,...,0,0,0,0,0,0,0,3,3,Turtle Bay
100013,1.0,4,0,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,[Pre-War],low,40.8241,6934781,...,0,0,0,0,0,0,0,3,4,Harlem

In [47]:
x = [col for col in data.columns if col not in ['bathrooms', 'latitude', 'longitude', 'building_id', 'created', 'street_address', 'description', 'display_address', 'features', 'listing_id', 'manager_id', 'photos', 'interest_level', 'neighborhood']]
X = data[x]
Y = data['interest_level'].replace(['low', 'medium', 'high'], [1,2,3])

In [48]:
X.head()

,bedrooms,price,By Owner,Exclusive,Sublet / Lease-Break,No Fee,Reduced Fee,Short Term Allowed,Furnished,Laundry In Unit,...,Cats Allowed,Dogs Allowed,Doorman,Elevator,Fitness Center,Laundry in Building,Common Outdoor Space,Storage Facility,photo_count,week
10,3,3000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,4
10000,2,5465,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,0,11,2
100004,1,2850,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,8,3
100007,1,3275,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,3,3
100013,4,3350,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,4

In [49]:
Y.head()

10        2
10000     1
100004    3
100007    1
100013    1
Name: interest_level, dtype: int64

In [50]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=.75)

In [53]:
#Random Forest
random_forest = RandomForestClassifier()
random_forest = random_forest.fit(X_train, Y_train)

print("Random Forest MAE = %.3f" % metrics.mean_absolute_error(random_forest.predict(X_test), Y_test))

#LogisticIT
mord_it = mord.LogisticIT()
mord_it = mord_it.fit(X_train, Y_train)

print("Logistic IT MAE = %.3f" % metrics.mean_absolute_error(mord_it.predict(X_test), Y_test))

#Logistic Regression
logistic = LogisticRegression()
logistic.fit(X_train, Y_train)

print("Logistic MAE = %.3f" % metrics.mean_absolute_error(logistic.predict(X_test), Y_test))

#GaussianNB
nb = GaussianNB()
nb.fit(X_train, Y_train)

print("GaussianNB MAE = %.3f" % metrics.mean_absolute_error(nb.predict(X_test), Y_test))

Random Forest MAE = 0.379
Logistic IT MAE = 0.375
Logistic MAE = 0.369
GaussianNB MAE = 0.684